1-1. 주어진 이미지 데이터의 파일 명은 아래와 같은 형식이다 . “ {W/T}_ { 이미지 ID}_{ 시대별 }_{ 스타일별 }_{ 성별 }.jpg ”이에 기반하여 “이미지 ID ” 수 기준으로 “성별 & 스타일” 통계치를 아래 표 형식으로 기입한다 .

In [142]:
import torch
import os
import pandas as pd

In [143]:
training_image = os.listdir('./data/training_image')
validation_image = os.listdir('./data/validation_image')

In [144]:
column_name = ['W/T', 'image_id', 'period', 'style', 'Sex']

training_data = {'file_name': training_image}
training_df = pd.DataFrame(training_data)
training_df[column_name] = training_df['file_name'].str.replace('.jpg', '').str.split('_', expand=True)

validation_data = {'file_name': validation_image}
validation_df = pd.DataFrame(validation_data)
validation_df[column_name] = validation_df['file_name'].str.replace('.jpg', '').str.split('_', expand=True)

display(training_df, validation_df)

                            file_name W/T image_id period           style Sex
0        W_01752_00_metrosexual_M.jpg   W    01752     00     metrosexual   M
1           W_46417_70_military_W.jpg   W    46417     70        military   W
2        W_01509_00_metrosexual_M.jpg   W    01509     00     metrosexual   M
3           W_18951_50_feminine_W.jpg   W    18951     50        feminine   W
4     W_29485_10_sportivecasual_M.jpg   W    29485     10  sportivecasual   M
...                               ...  ..      ...    ...             ...  ..
4065        W_03060_50_feminine_W.jpg   W    03060     50        feminine   W
4066  W_00032_10_sportivecasual_M.jpg   W    00032     10  sportivecasual   M
4067  W_02918_10_sportivecasual_M.jpg   W    02918     10  sportivecasual   M
4068        W_08957_19_normcore_W.jpg   W    08957     19        normcore   W
4069         W_00465_50_classic_W.jpg   W    00465     50         classic   W

[4070 rows x 6 columns]

                           file_name W/T image_id period           style Sex
0    W_14468_10_sportivecasual_W.jpg   W    14468     10  sportivecasual   W
1          W_17239_19_normcore_M.jpg   W    17239     19        normcore   M
2       W_06895_00_metrosexual_M.jpg   W    06895     00     metrosexual   M
3          W_13354_50_feminine_W.jpg   W    13354     50        feminine   W
4          W_07018_19_normcore_M.jpg   W    07018     19        normcore   M
..                               ...  ..      ...    ...             ...  ..
946          T_21988_70_hippie_M.jpg   T    21988     70          hippie   M
947             W_28022_50_ivy_M.jpg   W    28022     50             ivy   M
948        W_00551_19_normcore_M.jpg   W    00551     19        normcore   M
949         W_03144_50_classic_W.jpg   W    03144     50         classic   W
950  W_28453_10_sportivecasual_M.jpg   W    28453     10  sportivecasual   M

[951 rows x 6 columns]

In [145]:
training_df['T/V'] = 'Train'
validation_df['T/V'] = 'Validation'

df = pd.concat([training_df, validation_df], ignore_index=True)
df

,file_name,W/T,image_id,period,style,Sex,T/V
0,W_01752_00_metrosexual_M.jpg,W,01752,00,metrosexual,M,Train
1,W_46417_70_military_W.jpg,W,46417,70,military,W,Train
2,W_01509_00_metrosexual_M.jpg,W,01509,00,metrosexual,M,Train
3,W_18951_50_feminine_W.jpg,W,18951,50,feminine,W,Train
4,W_29485_10_sportivecasual_M.jpg,W,29485,10,sportivecasual,M,Train
...,...,...,...,...,...,...,...
5016,T_21988_70_hippie_M.jpg,T,21988,70,hippie,M,Validation
5017,W_28022_50_ivy_M.jpg,W,28022,50,ivy,M,Validation
5018,W_00551_19_normcore_M.jpg,W,00551,19,normcore,M,Validation
5019,W_03144_50_classic_W.jpg,W,03144,50,classic,W,Validation
5020,W_28453_10_sportivecasual_M.jpg,W,28453,10,sportivecasual,M,Validation

In [146]:
training_df.groupby(['Sex', 'style'])['file_name'].count().sort_values(ascending=True).to_frame(name='count')

                    count
Sex style
W   grunge             31
    military           33
    disco              37
    space              37
    popart             41
    lounge             45
    hiphop             48
    lingerie           55
    ecology            64
    punk               65
    cityglam           67
    athleisure         67
    classic            77
    genderless         77
    oriental           78
    hippie             91
    kitsch             91
    bodyconscious      95
    powersuit         120
    minimal           139
    normcore          153
    feminine          154
    sportivecasual    157
M   ivy               237
    hippie            260
    bold              268
    mods              269
    hiphop            274
    metrosexual       278
    sportivecasual    298
    normcore          364

In [147]:
validation_df.groupby(['Sex', 'style'])['file_name'].count().sort_values(ascending=True).to_frame(name='count')

                    count
Sex style
W   lingerie            5
    popart              8
    hiphop              8
    lounge              8
    military            9
    disco              10
    grunge             10
    genderless         12
    punk               12
    hippie             14
    athleisure         14
    space              15
    ecology            17
    cityglam           18
    oriental           18
    normcore           20
    classic            22
    kitsch             22
    bodyconscious      23
    powersuit          34
    minimal            35
    feminine           44
    sportivecasual     48
M   normcore           51
    sportivecasual     52
    bold               57
    metrosexual        58
    hiphop             66
    ivy                79
    mods               80
    hippie             82

2-1. 주어진 라벨링 데이터의 파일 명은 아래와 같은 형식이다 . “ {W/T}_ { 이미지 ID}_{ 시대별 }_{ 스타일별 }_{ 성별 }_{ 설문 ID}.json ”이에 기반 하여 “설문 ID ” 수 기준으로 “성별 & 스타일” 통계치를 아래 표 형식 으로 기입한다 .

In [148]:
training_label = os.listdir('./data/training_label')
validation_label = os.listdir('./data/validation_label')

In [149]:
column_name_2 = ['W/T', 'image_id', 'period', 'style', 'Sex', 'survey_id']

training_label_data = {'file_name': training_label}
training_label_df = pd.DataFrame(training_label_data)
training_label_df[column_name_2] = training_label_df['file_name'].str.replace('.json', '').str.split('_', expand=True)

validation_label_data = {'file_name': validation_label}
validation_label_df = pd.DataFrame(validation_label_data)
validation_label_df[column_name_2] = validation_label_df['file_name'].str.replace('.json', '').str.split('_', expand=True)

display(training_label_df, validation_label_df)

,file_name,W/T,image_id,period,style,Sex,survey_id
0,W_32580_90_hiphop_M_081759.json,W,32580,90,hiphop,M,081759
1,W_08785_90_lingerie_W_225338.json,W,08785,90,lingerie,W,225338
2,W_10647_00_ecology_W_123723.json,W,10647,00,ecology,W,123723
3,W_73918_70_hippie_W_019532.json,W,73918,70,hippie,W,019532
4,W_16003_50_ivy_M_014088.json,W,16003,50,ivy,M,014088
...,...,...,...,...,...,...,...
211341,W_67037_19_lounge_W_085333.json,W,67037,19,lounge,W,085333
211342,W_47201_10_sportivecasual_W_033171.json,W,47201,10,sportivecasual,W,033171
211343,T_00366_60_minimal_W_108370.json,T,00366,60,minimal,W,108370
211344,W_48652_60_minimal_W_087178.json,W,48652,60,minimal,W,087178
211345,W_02157_19_normcore_W_115928.json,W,02157,19,normcore,W,115928

,file_name,W/T,image_id,period,style,Sex,survey_id
0,W_46933_19_genderless_W_167828.json,W,46933,19,genderless,W,167828
1,W_30744_19_normcore_M_020980.json,W,30744,19,normcore,M,020980
2,W_51820_50_ivy_M_052834.json,W,51820,50,ivy,M,052834
3,W_03412_50_classic_W_023425.json,W,03412,50,classic,W,023425
4,W_11781_00_oriental_W_116456.json,W,11781,00,oriental,W,116456
...,...,...,...,...,...,...,...
36378,W_30042_19_normcore_M_044688.json,W,30042,19,normcore,M,044688
36379,W_36415_80_powersuit_W_119791.json,W,36415,80,powersuit,W,119791
36380,W_05571_19_normcore_W_041275.json,W,05571,19,normcore,W,041275
36381,W_62638_80_powersuit_W_171228.json,W,62638,80,powersuit,W,171228
36382,W_32678_60_mods_M_069045.json,W,32678,60,mods,M,069045

In [150]:
drop_training_label_df = training_label_df[training_label_df['image_id'].isin(training_df['image_id'])]
drop_validation_label_df = validation_label_df[validation_label_df['image_id'].isin(validation_df['image_id'])]

display(drop_training_label_df, drop_validation_label_df)

,file_name,W/T,image_id,period,style,Sex,survey_id
12,W_03412_50_classic_W_023425.json,W,03412,50,classic,W,023425
19,W_26584_50_ivy_M_071884.json,W,26584,50,ivy,M,071884
22,W_12813_50_ivy_M_044035.json,W,12813,50,ivy,M,044035
25,T_15153_19_normcore_W_227709.json,T,15153,19,normcore,W,227709
42,W_02024_50_classic_W_154035.json,W,02024,50,classic,W,154035
...,...,...,...,...,...,...,...
211314,W_07245_19_normcore_M_110480.json,W,07245,19,normcore,M,110480
211315,T_16092_10_sportivecasual_M_235615.json,T,16092,10,sportivecasual,M,235615
211328,W_12527_70_hippie_M_156484.json,W,12527,70,hippie,M,156484
211334,W_55047_00_oriental_W_200539.json,W,55047,00,oriental,W,200539
211343,T_00366_60_minimal_W_108370.json,T,00366,60,minimal,W,108370

,file_name,W/T,image_id,period,style,Sex,survey_id
3,W_03412_50_classic_W_023425.json,W,03412,50,classic,W,023425
25,W_17304_70_hippie_M_145581.json,W,17304,70,hippie,M,145581
28,W_15404_50_ivy_M_089871.json,W,15404,50,ivy,M,089871
37,W_05667_10_athleisure_W_132893.json,W,05667,10,athleisure,W,132893
55,W_09763_80_bold_M_229245.json,W,09763,80,bold,M,229245
...,...,...,...,...,...,...,...
36347,T_12567_80_powersuit_W_102030.json,T,12567,80,powersuit,W,102030
36348,W_04207_50_ivy_M_028693.json,W,04207,50,ivy,M,028693
36355,W_33002_60_mods_M_039676.json,W,33002,60,mods,M,039676
36365,W_01463_60_mods_M_078848.json,W,01463,60,mods,M,078848
36377,W_00842_10_sportivecasual_M_092976.json,W,00842,10,sportivecasual,M,092976

In [151]:
drop_training_label_df.groupby(['Sex', 'style'])['file_name'].count().to_frame(name='count')

                    count
Sex style
M   bold             1144
    hiphop           1321
    hippie           1571
    ivy              1719
    metrosexual      1226
    mods             1616
    normcore         1096
    sportivecasual   1657
W   athleisure        424
    bodyconscious     500
    cityglam          329
    classic           504
    disco             141
    ecology           295
    feminine          762
    genderless        234
    grunge            122
    hiphop            243
    hippie            339
    kitsch            374
    lingerie          188
    lounge            207
    military          115
    minimal           780
    normcore          646
    oriental          369
    popart            195
    powersuit         623
    punk              237
    space             184
    sportivecasual   1143

In [152]:
drop_validation_label_df.groupby(['Sex', 'style'])['file_name'].count().to_frame(name='count')

                    count
Sex style
M   bold              221
    hiphop            259
    hippie            474
    ivy               537
    metrosexual       224
    mods              439
    normcore          102
    sportivecasual    180
W   athleisure         80
    bodyconscious     114
    cityglam           65
    classic           117
    disco              31
    ecology            70
    feminine          208
    genderless         24
    grunge             29
    hiphop             32
    hippie             46
    kitsch             61
    lingerie           17
    lounge             20
    military           32
    minimal           171
    normcore           50
    oriental           71
    popart             38
    powersuit         160
    punk               38
    space              75
    sportivecasual    278

In [153]:
drop_training_label_df.loc[:, 'T/V'] = 'Train'
drop_validation_label_df.loc[:, 'T/V'] = 'Validation'

/tmp/ipykernel_4097855/1475550389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_training_label_df.loc[:, 'T/V'] = 'Train'
/tmp/ipykernel_4097855/1475550389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_validation_label_df.loc[:, 'T/V'] = 'Validation'

In [154]:
import pandas as pd
import json

train_path = './data/training_label'
valid_path = './data/validation_label'

# JSON 파일을 읽는 함수를 정의
def extract_json_data(file_name):
    with open(file_name, 'r') as f:
        data = json.load(f)
    
    # 필요한 데이터 추출
    R_id = data['user']['R_id']
    Q5 = data['item']['survey']['Q5']
    
    return R_id, Q5

# drop_training_label_df에 R_id와 Q5 값을 담을 새로운 열을 생성
drop_training_label_df.loc[:, 'R_id'] = None
drop_training_label_df.loc[:, 'Q5'] = None
drop_validation_label_df.loc[:, 'R_id'] = None
drop_validation_label_df.loc[:, 'Q5'] = None

# file_name을 바탕으로 JSON 파일에서 데이터를 추출하고 DataFrame에 추가
for index, row in drop_training_label_df.iterrows():

    file_name = os.path.join(train_path, row['file_name'])
    R_id, Q5 = extract_json_data(file_name)
    
    # DataFrame에 값 추가
    drop_training_label_df.at[index, 'R_id'] = R_id
    drop_training_label_df.at[index, 'Q5'] = Q5


for index, row in drop_validation_label_df.iterrows():

    file_name = os.path.join(valid_path, row['file_name'])
    R_id, Q5 = extract_json_data(file_name)
    
    # DataFrame에 값 추가
    drop_validation_label_df.at[index, 'R_id'] = R_id
    drop_validation_label_df.at[index, 'Q5'] = Q5

display(drop_training_label_df, drop_validation_label_df)

/tmp/ipykernel_4097855/790356871.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_training_label_df.loc[:, 'R_id'] = None
/tmp/ipykernel_4097855/790356871.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_training_label_df.loc[:, 'Q5'] = None
/tmp/ipykernel_4097855/790356871.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_validation_label_df.loc[:, 'R_id'] = None
/tmp/ipykernel_4097855/790356871.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_validation_label_df.loc[:, 'Q5'] = None

,file_name,W/T,image_id,period,style,Sex,survey_id,T/V,R_id,Q5
12,W_03412_50_classic_W_023425.json,W,03412,50,classic,W,023425,Train,18670,1
19,W_26584_50_ivy_M_071884.json,W,26584,50,ivy,M,071884,Train,52208,2
22,W_12813_50_ivy_M_044035.json,W,12813,50,ivy,M,044035,Train,27584,1
25,T_15153_19_normcore_W_227709.json,T,15153,19,normcore,W,227709,Train,67689,2
42,W_02024_50_classic_W_154035.json,W,02024,50,classic,W,154035,Train,64598,2
...,...,...,...,...,...,...,...,...,...,...
211314,W_07245_19_normcore_M_110480.json,W,07245,19,normcore,M,110480,Train,62461,1
211315,T_16092_10_sportivecasual_M_235615.json,T,16092,10,sportivecasual,M,235615,Train,68366,2
211328,W_12527_70_hippie_M_156484.json,W,12527,70,hippie,M,156484,Train,64687,1
211334,W_55047_00_oriental_W_200539.json,W,55047,00,oriental,W,200539,Train,66592,1
211343,T_00366_60_minimal_W_108370.json,T,00366,60,minimal,W,108370,Train,62257,1

,file_name,W/T,image_id,period,style,Sex,survey_id,T/V,R_id,Q5
3,W_03412_50_classic_W_023425.json,W,03412,50,classic,W,023425,Validation,18670,1
25,W_17304_70_hippie_M_145581.json,W,17304,70,hippie,M,145581,Validation,64252,1
28,W_15404_50_ivy_M_089871.json,W,15404,50,ivy,M,089871,Validation,59901,1
37,W_05667_10_athleisure_W_132893.json,W,05667,10,athleisure,W,132893,Validation,63682,1
55,W_09763_80_bold_M_229245.json,W,09763,80,bold,M,229245,Validation,67751,2
...,...,...,...,...,...,...,...,...,...,...
36347,T_12567_80_powersuit_W_102030.json,T,12567,80,powersuit,W,102030,Validation,61503,2
36348,W_04207_50_ivy_M_028693.json,W,04207,50,ivy,M,028693,Validation,20458,2
36355,W_33002_60_mods_M_039676.json,W,33002,60,mods,M,039676,Validation,25042,1
36365,W_01463_60_mods_M_078848.json,W,01463,60,mods,M,078848,Validation,57952,2
36377,W_00842_10_sportivecasual_M_092976.json,W,00842,10,sportivecasual,M,092976,Validation,60234,2

In [155]:
drop_df = pd.concat([drop_training_label_df, drop_validation_label_df], ignore_index=True)
drop_df

,file_name,W/T,image_id,period,style,Sex,survey_id,T/V,R_id,Q5
0,W_03412_50_classic_W_023425.json,W,03412,50,classic,W,023425,Train,18670,1
1,W_26584_50_ivy_M_071884.json,W,26584,50,ivy,M,071884,Train,52208,2
2,W_12813_50_ivy_M_044035.json,W,12813,50,ivy,M,044035,Train,27584,1
3,T_15153_19_normcore_W_227709.json,T,15153,19,normcore,W,227709,Train,67689,2
4,W_02024_50_classic_W_154035.json,W,02024,50,classic,W,154035,Train,64598,2
...,...,...,...,...,...,...,...,...,...,...
24562,T_12567_80_powersuit_W_102030.json,T,12567,80,powersuit,W,102030,Validation,61503,2
24563,W_04207_50_ivy_M_028693.json,W,04207,50,ivy,M,028693,Validation,20458,2
24564,W_33002_60_mods_M_039676.json,W,33002,60,mods,M,039676,Validation,25042,1
24565,W_01463_60_mods_M_078848.json,W,01463,60,mods,M,078848,Validation,57952,2
24566,W_00842_10_sportivecasual_M_092976.json,W,00842,10,sportivecasual,M,092976,Validation,60234,2

In [156]:
drop_training_label_df['R_id'].nunique()

4009

In [157]:
drop_df.groupby(['T/V', 'Q5'])['file_name'].count()

T/V         Q5
Train       1     11635
            2      8669
Validation  1      2482
            2      1781
Name: file_name, dtype: int64

In [158]:
training_df[training_df['file_name'] == 'W_33026_90_hiphop_W.jpg']

                    file_name W/T image_id period   style Sex    T/V
1305  W_33026_90_hiphop_W.jpg   W    33026     90  hiphop   W  Train

In [159]:
drop_df['jpg_name'] = drop_df['W/T'].astype(str) + '_' + \
                      drop_df['image_id'].astype(str) + '_' + \
                      drop_df['period'].astype(str) + '_' + \
                      drop_df['style'].astype(str) + '_' + \
                      drop_df['Sex'].astype(str) + '.jpg'

drop_df

,file_name,W/T,image_id,period,style,Sex,survey_id,T/V,R_id,Q5,jpg_name
0,W_03412_50_classic_W_023425.json,W,03412,50,classic,W,023425,Train,18670,1,W_03412_50_classic_W.jpg
1,W_26584_50_ivy_M_071884.json,W,26584,50,ivy,M,071884,Train,52208,2,W_26584_50_ivy_M.jpg
2,W_12813_50_ivy_M_044035.json,W,12813,50,ivy,M,044035,Train,27584,1,W_12813_50_ivy_M.jpg
3,T_15153_19_normcore_W_227709.json,T,15153,19,normcore,W,227709,Train,67689,2,T_15153_19_normcore_W.jpg
4,W_02024_50_classic_W_154035.json,W,02024,50,classic,W,154035,Train,64598,2,W_02024_50_classic_W.jpg
...,...,...,...,...,...,...,...,...,...,...,...
24562,T_12567_80_powersuit_W_102030.json,T,12567,80,powersuit,W,102030,Validation,61503,2,T_12567_80_powersuit_W.jpg
24563,W_04207_50_ivy_M_028693.json,W,04207,50,ivy,M,028693,Validation,20458,2,W_04207_50_ivy_M.jpg
24564,W_33002_60_mods_M_039676.json,W,33002,60,mods,M,039676,Validation,25042,1,W_33002_60_mods_M.jpg
24565,W_01463_60_mods_M_078848.json,W,01463,60,mods,M,078848,Validation,57952,2,W_01463_60_mods_M.jpg
24566,W_00842_10_sportivecasual_M_092976.json,W,00842,10,sportivecasual,M,092976,Validation,60234,2,W_00842_10_sportivecasual_M.jpg

In [165]:
drop_df['R_id'].nunique()

4075

In [160]:
drop_df.groupby('R_id')['jpg_name'].apply(list)

R_id
12       [W_03412_50_classic_W.jpg, W_02651_50_feminine...
25       [T_01475_10_sportivecasual_M.jpg, T_14304_60_m...
26       [W_18990_50_feminine_W.jpg, T_09447_19_lounge_...
27       [W_15212_60_mods_M.jpg, W_17957_80_bold_M.jpg,...
30       [W_18249_50_feminine_W.jpg, W_63984_80_powersu...
                               ...
68961                          [T_19177_19_normcore_M.jpg]
68966                          [T_19158_19_normcore_M.jpg]
68969    [T_16423_10_sportivecasual_M.jpg, T_16428_10_s...
68983    [T_16151_10_sportivecasual_M.jpg, T_19158_19_n...
69016    [T_16570_10_sportivecasual_M.jpg, T_16341_10_s...
Name: jpg_name, Length: 4075, dtype: object

In [161]:
# Training과 Validation을 구분한 후 선호/비선호 구분
training_preference = drop_df[(drop_df['T/V'] == 'Train') & (drop_df['Q5'] == 2)]
training_non_preference = drop_df[(drop_df['T/V'] == 'Train') & (drop_df['Q5'] == 1)]

validation_preference = drop_df[(drop_df['T/V'] == 'Validation') & (drop_df['Q5'] == 2)]
validation_non_preference = drop_df[(drop_df['T/V'] == 'Validation') & (drop_df['Q5'] == 1)]

# 응답자 ID를 기준으로 그룹화하고 스타일 선호 및 비선호를 리스트로 수집
summary_df = pd.DataFrame({
    #'응답자 ID': drop_df['R_id'].unique(),
    'Training 스타일 선호': training_preference.groupby('R_id')['jpg_name'].apply(list),
    'Training 스타일 비선호': training_non_preference.groupby('R_id')['jpg_name'].apply(list),
    'Validation 스타일 선호': validation_preference.groupby('R_id')['jpg_name'].apply(list),
    'Validation 스타일 비선호': validation_non_preference.groupby('R_id')['jpg_name'].apply(list)
})

# 결과 출력
display(summary_df)

,Training 스타일 선호,Training 스타일 비선호,Validation 스타일 선호,Validation 스타일 비선호
R_id,,,,
12,[W_03412_50_classic_W.jpg],NaN,[W_03412_50_classic_W.jpg],[W_02651_50_feminine_W.jpg]
25,"[T_01475_10_sportivecasual_M.jpg, T_14304_60_m...",[W_12740_00_metrosexual_M.jpg],NaN,NaN
26,[T_09447_19_lounge_W.jpg],[W_18990_50_feminine_W.jpg],NaN,NaN
27,"[W_17957_80_bold_M.jpg, W_10810_60_mods_M.jpg,...","[W_15212_60_mods_M.jpg, W_07347_90_hiphop_M.jp...","[W_06522_50_ivy_M.jpg, W_07120_19_normcore_M.j...",NaN
30,"[W_18249_50_feminine_W.jpg, W_63984_80_powersu...",[W_49287_70_punk_W.jpg],[W_18249_50_feminine_W.jpg],NaN
...,...,...,...,...
68961,NaN,[T_19177_19_normcore_M.jpg],NaN,NaN
68966,[T_19158_19_normcore_M.jpg],NaN,NaN,NaN
68969,"[T_16428_10_sportivecasual_M.jpg, T_16439_10_s...","[T_16423_10_sportivecasual_M.jpg, T_16432_10_s...",NaN,NaN
68983,[T_19158_19_normcore_M.jpg],"[T_16151_10_sportivecasual_M.jpg, T_16153_10_s...",NaN,NaN
69016,[T_16332_10_sportivecasual_M.jpg],"[T_16570_10_sportivecasual_M.jpg, T_16341_10_s...",NaN,NaN

■ 3-1. 추천 시스템의 기본인 협업 필터링 (Collaborative Filtering) 은 크게 user-based filtering, item-based filtering 방식으로 나뉘어져 있다 . 각각에 대해서 이해하고 , 2-2 에서 구해 본 응답자의 “스타일 선호 정보표”를 토대로 Validation 데이터 내 응답자의 “스타일 선호 여부 예측” 문제를 2 가지 기법으로 어떻게 적용해 볼 수 있고 , 서로 비교하여 어떤 장단점을 갖는지 설명한다 .

※ 설명을 용이하게 하기 위해 응답자의 스타일 선호도 예시를 들어서 설명해도 무방하다.

협업 필터링이란 사용자와 아이템 간의 상호작용 데이터를 기반으로 유사한 사용자나 아이템을 찾아 새로운 추천을 생성하는 방법으로 사용자의 과거 행동 데이터나 유사한 사용자 그룹의 데이터를 활용해 개인화된 추천을 제공하는 것을 말합니다.

협업 필터링은 "User-based Filtering", "Item-based Filtering" 로 나누어져있습니다. 

1. User-based Filtering
+ User-based filtering은 사용자의 취향이 비슷한 다른 사용자의 선호도를 바탕으로 추천을 진행합니다. 
+ 즉, 응답자 간의 유사성을 계산하고, 유사한 응답자가 선호하는 스타일을 현재 응답자에게 추천하거나 선호 여부를 예측하는 방식입니다.

적용 방법
+ 유사도 계산: 각 응답자에 대해 선호 스타일 정보를 벡터화한 뒤, 다른 응답자와의 유사도를 계산합니다. 일반적으로 코사인 유사도(Cosine Similarity) 또는 피어슨 상관계수(Pearson Correlation)를 사용하여 유사도를 구할 수 있습니다.
+ 유사한 응답자 찾기: 계산된 유사도에 따라 현재 응답자와 가장 유사한 응답자 그룹을 찾습니다.
+ 스타일 선호 예측: 유사한 응답자가 선호하는 스타일을 기반으로 Validation 데이터 내 응답자의 스타일 선호 여부를 예측합니다. 예를 들어, 유사한 응답자가 선호하는 스타일이 Validation 데이터에 포함되어 있다면 이를 선호할 확률이 높다고 예측합니다.

장단점
+ 장점:
    + 다양성: 개인화된 추천을 제공하기 때문에, 유사한 응답자들이 선호하는 스타일을 쉽게 예측할 수 있습니다.
    + 새로운 아이템 예측 가능: Validation 데이터에 포함된 새로운 스타일이라도 유사한 응답자의 선호를 토대로 예측이 가능합니다.

+ 단점:
    + 계산 비용: 사용자가 많아질수록 유사도 계산 비용이 증가합니다. 특히, 데이터가 큰 경우 효율성이 떨어집니다.
    + 희소성 문제: 사용자가 선호하는 스타일이 적으면, 유사도 계산이 어렵거나 잘못된 결과가 나올 수 있습니다.

2. Item-based Filtering
+ Item-based filtering은 스타일 간의 유사도를 계산하여 추천을 진행하는 방식입니다. 
+ 즉, 응답자가 특정 스타일을 선호한다면, 해당 스타일과 유사한 스타일을 선호할 가능성이 높다고 예측하는 방식입니다.

적용 방법
+ 유사도 계산: 각 스타일을 벡터화하여 스타일 간의 유사도를 계산합니다. 여기에서도 코사인 유사도 또는 피어슨 상관계수를 사용할 수 있습니다.
+ 유사한 스타일 찾기: 응답자가 선호하는 스타일과 유사한 스타일을 찾아 Validation 데이터에서 해당 스타일에 대한 선호 여부를 예측합니다.
+ 스타일 선호 예측: 유사한 스타일을 선호할 가능성이 높다고 예측하여, Validation 데이터에서 선호 여부를 추정합니다.

장단점
+ 장점:
    + 응답자 수가 많아도 안정적: 스타일 자체를 기반으로 추천을 진행하기 때문에, 응답자 수가 증가해도 계산 효율이 높습니다.
    + 스타일 예측의 정확성: 스타일 간의 유사성을 기반으로 예측하기 때문에, 스타일에 대한 취향이 분명한 경우 정확도가 높아집니다.

+ 단점:
    + 새로운 스타일 처리 불가: Validation 데이터에 포함된 새로운 스타일에 대해 유사도를 계산할 수 없기 때문에, 예측이 어렵습니다.
    + 응답자 취향 반영 어려움: 개별 응답자의 특성을 반영하기 어려워, 개인화된 추천에는 한계가 있습니다.

예시를 통한 설명
응답자 A가 힙합 스타일과 캐주얼 스타일을 선호한다고 가정해보겠습니다.

+ User-based Filtering을 적용할 경우: 유사한 선호도를 보이는 응답자 B, C가 힙합과 캐주얼 스타일 외에 스포티 스타일을 선호하는 것을 발견했다면, A도 스포티 스타일을 선호할 가능성이 있다고 예측합니다.
+ Item-based Filtering을 적용할 경우: A가 선호하는 힙합 스타일과 유사한 스트릿 패션 스타일이 Validation 데이터에 포함되어 있다면, A가 스트릿 패션 스타일도 선호할 가능성이 있다고 예측합니다.

결론
+ User-based Filtering은 개별 응답자의 선호도를 더 잘 반영할 수 있어 개인화에 유리하지만, 데이터가 희소할 때 예측 성능이 떨어질 수 있습니다.
+ Item-based Filtering은 응답자 수가 증가해도 효율성이 유지되며 스타일 예측이 명확해지지만, 개인화된 추천에는 한계가 있을 수 있습니다.